* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: '1';
    src: url('/fonts/1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: '1', sans-serif;
    position: relative;
    background-image: url('/assets/background.webp');
    cursor: url('/assets/mac-os-x.cur'), auto !important; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    -webkit-user-drag: none;
    
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/assets/background.webp');
    background-color: #000000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(8px);
    z-index: -1;
}
    
canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 222;
    pointer-events: none;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 111;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    opacity: 1;
    visibility: visible;
    transition: opacity 1s ease, visibility 1s ease;
}
#rain-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('/assets/rain.gif') no-repeat center center;
    background-size: cover;
    z-index: 333; 
    pointer-events: none; 
    opacity: 0.05;
}
.overlay-content h2 {
    font-size: 1rem;
    margin: 0;
    color: rgb(216, 216, 216);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.5);
}

.line {
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, transparent, rgb(216, 216, 216), transparent);
    margin: 15px 0;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.5);
}

.profile-card {
    background: rgba(34, 34, 34, 0.0);
    border-radius: 10px;
    width: 500px;
    height: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    position: relative;
    backdrop-filter: blur(15px);
    background-color: rgba(34, 34, 34, 0.0);
    outline: 1px solid #8f8f8f;
    visibility: hidden;
    transition: opacity 1s ease, visibility 1s ease, transform 0.3s linear;
    transform-origin: center center;
    width: 80vw;
    max-width: 500px;
    margin: 0 auto;
}

.profile-card .profile-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
}

.profile-card .profile-details {
    text-align: center;
    color: white;
    margin-top: 20px;
    padding: 0 10px;
}

.profile-card h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.profile-card p {
    margin: 5px 0;
    font-size: 14px;
    color: #ddd;
}

.container .profile-card {
    opacity: 0;
    visibility: hidden;
    transform: translateY(150px);
    transition: opacity 0.5s ease, visibility 0.5s ease, transform linear;
}

.container.visible .profile-card {
    opacity: 1;
    transform: translateY(0px);
    visibility: visible;
}

.profile-details #country {
    display: flex;
    align-items: center;
}

.flag {
    width: 16px;
    height: 11px;
    margin-right: 6px;
}

.username-wrapper {
    position: relative;
    display: inline-block;
}

.username-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('/assets/white.gif') no-repeat center;
    background-size: cover;
    z-index: 0;
    padding: 5px;
    border-radius: 15px;
    pointer-events: none;
}

#username {
    position: relative;
    z-index: 1;
}

.socialki {
    display: flex;
    justify-content: center;  
    align-items: center;  
    margin-top: 10px;
    min-width: 10px;
}

.social-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: url('/assets/mac-os-x.cur'), auto;
    color: white; 
    text-decoration: none;
    white-space: nowrap;
}

.icon-glow {
    text-shadow: 0 0 10px #ffffff;
  }

.social-icon i {
    margin-left: 6px; 
}


.discord-popup,
#steam-popup {
    position: absolute;
    bottom: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%) scale(0.7);  
    background-color: #242424;
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-align: center;
    min-width: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease; 
}

.social-icon:hover .discord-popup,
.social-icon.steam:hover #steam-popup {
    opacity: 1;
    pointer-events: auto;  
    transform: translateX(-50%) scale(0.9);  
}
.social-icon:not(:hover) .discord-popup,
.social-icon:not(:hover) #steam-popup {
    opacity: 0; 
    transform: translateX(-50%) scale(0.7);  
}

/* phone shit */
html, body {
    overflow: hidden;
    min-height: 100vh;
    overflow: hidden;
    height: 100%;
}

/* DISABLE ACTION $$$$$$$$$$$ */
/* DISABLE ACTION $$$$$$$$$$$ */
.profile-image,
.username-wrapper,
#country, 
.overlay-content h2 {
    user-select: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
}
